<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item" data-module="home">
            <i class="nav-icon fa fa-home"></i>
            <span class="nav-text">首页</span>
        </li>
        <li class="nav-item" data-module="civilization_overview">
            <i class="nav-icon fa fa-book"></i>
            <span class="nav-text">文明概述</span>
        </li>
        <li class="nav-item" data-module="scientific_achievements">
            <i class="nav-icon fa fa-flask"></i>
            <span class="nav-text">科学成就</span>
        </li>
        <li class="nav-item" data-module="notable_works">
            <i class="nav-icon fa fa-bookmark"></i>
            <span class="nav-text">杰出著作</span>
        </li>
        <li class="nav-item" data-module="notable_scholars">
            <i class="nav-icon fa fa-user"></i>
            <span class="nav-text">杰出学者</span>
        </li>
        <li class="nav-item" data-module="cultural_stories">
            <i class="nav-icon fa fa-comment"></i>
            <span class="nav-text">文化典故</span>
        </li>
        <li class="nav-item" data-module="cultural_customs">
            <i class="nav-icon fa fa-calendar"></i>
            <span class="nav-text">文化习俗</span>
        </li>
        <li class="nav-item" data-module="data_summary">
            <i class="nav-icon fa fa-bar-chart"></i>
            <span class="nav-text">数据汇总</span>
        </li>
    </ul>
</nav>